* {
  margin: 0;
  padding: 0;
}

body {
  background: #dce0d9;
}

img {
  width: 100%;
  height: 220px;
}

a {
  color: #31081f !important;
}

button:focus {
  outline: none !important;
}

.App {
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: #0f1020;
  height: 6rem;
  padding: 1rem;
  /* color: white; */
  margin-bottom: 2rem;
}

.App-title {
  font-size: 2.5em;
  color: #faa6ff;
  margin: 0;
}

.recipe_buttons {
  border: 2px solid #faa6ff;
  background: #fff;
  color: #faa6ff;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 7px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
  transition: all 0.25s ease;
}
.recipe_buttons:hover {
  background: #faa6ff;
}

.recipes__box {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, 0.65);
  text-align: left;
  overflow: hidden;
}

.recipe__text {
  margin-left: 15px;
}

.recipes__title {
  color: #7b287d;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.8rem 0 0.2rem 0;
}

.recipes__subtitle {
  color: #7b287d;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #0f1020;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 20%;
  padding: 0.4rem;
}

.form__button {
  border: 2px solid #faa6ff;
  background: #0f1020;
  color: #faa6ff;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 7px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
  transition: all 0.25s ease;
}

.form__button:hover {
  background: #faa6ff;
  color: #0f1020;
  border: 2px solid #0f1020;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #0f1020 !important;
}

/******** RECIPE.js ********/

.active-recipe {
  margin: 3rem auto;
  width: 40%;
  overflow-wrap: break-word;
}

.active-recipe__img {
  height: 300px !important;
}

.active-recipe__title {
  color: #7b287d;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.active-recipe__publisher,
.active-recipe__website {
  color: #7b287d;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.active-recipe__publisher span {
  color: #7b287d;
  font-size: 1.1rem;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 5px;
}

.active-recipe__website span {
  background: #fff;
  color: #387780;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #7b287d;
  font-size: 1.1rem;
  margin-left: 10px;
  transition: all 0.25s ease;
}
.active-recipe__website span:hover {
  background: #faa6ff;
}

.active-recipe__button {
  border: 2px solid #faa6ff;
  background: #fff;
  color: #faa6ff;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 7px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
  transition: all 0.25s ease;
}

.active-recipe__button:hover {
  background: #faa6ff;
}
